Hostnames should be allowed to begin with a decimal digit

According to RFC 1123, section 2.1, (https://tools.ietf.org/html/rfc1123), hostnames are allowed to begin with a decimal digit.

Currently, hostname-checking is [too strict](https://github.com/cmbrandenburg/sparkle-dns/blob/5045835aad965a4f5d3abce710ea9d5554f53d3f/src/format.rs#L230-L243).